.App {
  text-align: center;
  margin: 10px 30px 10px 30px;
}

.particularLaunchFinder {
  border: dashed 2px black;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

.particularLaunchFinder p {
  padding-right: 10px;
}

.particularLaunchFinder input {
  padding-right: 10px;
  width: 5%;
}

.launchesInfo {
  display: flex;
  justify-content: center;

}

.launchesInfo  p {
  padding: 0px 10px 0px 0px;
}

.useQueryInfo {
  border: dashed 2px grey;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

.useReactiveVarSection {
  border: solid 2px rgb(117, 117, 169);
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}